$Palettes: (
  PB: (// Primary
    PB700: (216, 73, 32), // #16458C
    N0: (0, 0, 100), // #FFF
    // Text
    T900: (0, 0, 0), // #000000
    T850: (0, 0, 93), // #EDEDED
  )
);

@import './engines/themedstyles';
@import './color_variations';
@import './root';
