$Palettes: (
  PB: (// Primary
    PB700: (209, 87, 31),
    PR700: (3, 79, 49),
    N0: (0, 0, 100),
    // Scondary
    SR700: (340, 93, 52),
    SG700: (184, 7, 56),
    SG600: (0, 0, 85), 
    // Text
    T900: (0, 0, 0),
    T850: (0, 0, 93),
  )
);

@import './engines/themedstyles';
@import './color_variations';
@import './root';
