$Font-1: 'Montserrat';

// Font 1

@include font-face(#{$Font-1}-Light, '/fonts/#{$Font-1}-Light');
@include font-face(#{$Font-1}-Regular, '/fonts/#{$Font-1}-Regular');
@include font-face(#{$Font-1}-Bold, '/fonts/#{$Font-1}-Bold');
@include font-face(#{$Font-1}-Black, '/fonts/#{$Font-1}-Black');

$f-2xxs: 11px;
$f-xxs: 12px;
$f-xs: 13px;
$f-s: 15px;
$f-base: 16px;
$f-m: 17px;
$f-l: 20px;
$f-xl: 22px;
$f-xxl: 24px;
$f-2xxl: 34px;

$TypographyStyles: (
  Caption2: (
    #{$Font-1}-Regular,
    $f-2xxs,
    $f-2xxs,
    0.5px,
  ),
  //11px
  Caption1:
    (
      #{$Font-1}-Regular,
      $f-xxs,
      $f-xxs,
      0.5px,
    ),
  //12px
  Footnote:
    (
      #{$Font-1}-Regular,
      $f-xs,
      $f-xs,
      0px,
    ),
  //13px
  Callout:
    (
      #{$Font-1}-Regular,
      $f-base,
      $f-base,
      0px,
    ),
  //16px
  Default:
    (
      #{$Font-1}-Regular,
      $f-m,
      $f-m,
      0px,
    ),
  //17px
  Subheadline:
    (
      #{$Font-1}-Regular,
      $f-s,
      $f-s,
      0px,
    ),
  //15px
  Title3:
    (
      #{$Font-1}-Regular,
      $f-l,
      $f-l,
      0px,
    ),
  //20px
  Title2:
    (
      #{$Font-1}-Regular,
      $f-xl,
      $f-xl,
      0px,
    ),
  //22px
  Title1:
    (
      #{$Font-1}-Regular,
      $f-xxl,
      $f-xxl,
      0px,
    ),
  //24px
  Title1Sub:
  (
    #{$Font-1}-Light,
    $f-xxl,
    $f-xxl,
    0px,
  ),
  //24px
  LargeTitle:
    (
      #{$Font-1}-Regular,
      $f-2xxl,
      $f-2xxl,
      0px,
    ),
  //34px
  Caption2Highlight:
    (
      #{$Font-1}-Bold,
      $f-2xxs,
      $f-2xxs,
      0.5px,
    ),
  //11px
  Caption1Highlight:
    (
      #{$Font-1}-Bold,
      $f-xxs,
      $f-xxs,
      0.5px,
    ),
  //12px
  FootnoteHighlight:
    (
      #{$Font-1}-Bold,
      $f-xs,
      $f-xs,
      0px,
    ),
  //13px
  CalloutHighlight:
    (
      #{$Font-1}-Bold,
      $f-base,
      $f-base,
      0px,
    ),
  //16px
  DefaultHighlight:
    (
      #{$Font-1}-Bold,
      $f-m,
      $f-m,
      0px,
    ),
  //17px
  SubheadlineHighlight:
    (
      #{$Font-1}-Bold,
      $f-s,
      $f-s,
      0px,
    ),
  //15px
  Headline:
    (
      #{$Font-1}-Bold,
      $f-m,
      $f-m,
      0px,
    ),
  //17px
  Title3Highlight:
    (
      #{$Font-1}-Bold,
      $f-l,
      $f-l,
      0px,
    ),
  //20px
  Title2Highlight:
    (
      #{$Font-1}-Bold,
      $f-xl,
      $f-xl,
      0px,
    ),
  //22px
  Title1Highlight:
    (
      #{$Font-1}-Black,
      $f-xxl,
      $f-xxl,
      0px,
    ),
  //24px
  LargeTitleHighlight:
    (
      #{$Font-1}-Bold,
      $f-2xxl,
      $f-2xxl,
      0px,
    ),
  //34px
);

@import './engines/fontstyle';
