.Buttons {

  display: flex;
  gap: 8px;
  justify-content: center;

  @include Breakpoint(Desktop) {

    flex-wrap: nowrap;
    gap: 24px;
    
  }

 }

 .Button {

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 38px;
  min-width: 145px;

  @include FontStyle(Caption2Highlight, $LS: 0px);
  @include ThemedStyles(color, N0);

  @include Breakpoint(Desktop) {
    
    padding: 20px 12px;
    min-width: 257px;
    height: 41px;

    @include FontStyle(CalloutHighlight);
    
  }

  &:hover {

    opacity: .8;

  }

  
  @include ThemedStyles(background, PB700);
  @include ThemedStyles(color, N0);

  &__Outlined {
    @extend .Button;

    @include ThemedStyles(background, N0);
    @include ThemedStyles(border, PB700, "2px solid");
    @include FontStyle(Caption2Highlight);
    @include ThemedStyles(color, PB700);

    @include Breakpoint(Desktop) {  
      @include FontStyle(CalloutHighlight);
      
    }
  
  }
 }
