.Header {

  display: flex;
  align-items: center;
  height: 76px;
  padding: 0px 20px;
  justify-content: space-between;

   @include ThemedStyles(background, T900);
   @include ThemedStyles(color, N0);

   &__Title {

    @include FontStyle(Title3Highlight);

   }

   &__Icon {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {

      opacity: .7;
    }

    img {
      
      height: 24px;      
      width: 24px;

    }

   }
 
 }
