.Header {

  display: flex;
  align-items: center;
  height: 76px;
  padding: 0px 20px;
  justify-content: space-between;

   @include ThemedStyles(background, SR700);
   @include ThemedStyles(color, N0);

   &__Title {

    @include FontStyle(Title3Light);

    strong {
      @include FontStyle(Title3Highlight);
    } 

   }

   &__TextCtr {

    align-items: center;
    display: flex;
    gap: 12px;

   }

   &__Icon {

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {

      opacity: .7;
    }

    img {
      
      height: 24px !important;      
      width: 24px !important;

    }

   }
 
 }
